In [15]:
import pandas as pd

In [6]:
df = pd.read_csv('http://taanila.fi/employee.csv')
df.head(8)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0

In [7]:
df.tail(8)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1462,39,No,Travel_Rarely,722,Sales,24,1,Marketing,1,2056,...,1,80,1,21,2,2,20,9,9,6
1463,31,No,Non-Travel,325,Research & Development,5,3,Medical,1,2057,...,2,80,0,10,2,3,9,4,1,7
1464,26,No,Travel_Rarely,1167,Sales,5,3,Other,1,2060,...,4,80,0,5,2,3,4,2,0,0
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [ ]:
df.tail()

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.rename (columns = {},inplace=True)
df.head()

In [8]:
df.rename (columns = {'Age': 'Ikä', 'BusinessTravel':'Työmatkat','DistanceFromHome':'Työmatkan pituus','Education':'Koulutus','EducationField':'Tiedekunta','Attrition':'Poistuma','DailyRate':'Palkka','Department':'Osasto'},inplace=True)
df.head(8)

,Ikä,Poistuma,Työmatkat,Palkka,Osasto,Työmatkan pituus,Koulutus,Tiedekunta,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0

In [25]:
df.rename (columns = {'EmployeeCount':'Työntekijöiden lkm', 'EmployeeNumber':'Työntekijänumero','RelationshipSatisfaction':'Tyytyväisyys','StandardHours':'Työtunnit','StockOptionLevel':'Osakeoptiotaso','TotalWorkingYears':'Työvuodet','TrainingTimesLastYear':'Viime vuoden koulutukset','WorkLifeBalance':'Työn ja huvin tasapaino','YearsAtCompany':'Palvelusvuodet','YearsInCurrentRole':'Aika nykyisessä roolissa','YearsSinceLastPromotion':'Vuodet ylennyksestä','YearsWithCurrManager':'Aika nykyisen esimiehen kanssa'},inplace=True)
df.head()

,Ikä,Poistuma,Työmatkat,Palkka,Osasto,Työmatkan pituus,Koulutus,Tiedekunta,Työntekijöiden lkm,Työntekijänumero,...,Tyytyväisyys,Työtunnit,Osakeoptiotaso,Työvuodet,Viime vuoden koulutukset,Työn ja huvin tasapaino,Palvelusvuodet,Aika nykyisessä roolissa,Vuodet ylennyksestä,Aika nykyisen esimiehen kanssa
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

,Ikä,Poistuma,Työmatkat,Palkka,Osasto,Työmatkan pituus,Koulutus,Tiedekunta,Työntekijöiden lkm,Työntekijänumero,...,Tyytyväisyys,Työtunnit,Osakeoptiotaso,Työvuodet,Viime vuoden koulutukset,Työn ja huvin tasapaino,Palvelusvuodet,Aika nykyisessä roolissa,Vuodet ylennyksestä,Aika nykyisen esimiehen kanssa
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [29]:
df['Poistuma'] = df['Poistuma'].replace({'Yes' : 'Kyllä', 'No' : 'Ei'})
df.head()

,Ikä,Poistuma,Työmatkat,Palkka,Osasto,Työmatkan pituus,Koulutus,Tiedekunta,Työntekijöiden lkm,Työntekijänumero,...,Tyytyväisyys,Työtunnit,Osakeoptiotaso,Työvuodet,Viime vuoden koulutukset,Työn ja huvin tasapaino,Palvelusvuodet,Aika nykyisessä roolissa,Vuodet ylennyksestä,Aika nykyisen esimiehen kanssa
0,41,Kyllä,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,Ei,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Kyllä,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,Ei,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,Ei,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [30]:
df['Työmatkat'] = df['Työmatkat'].replace({'Travel_Rarely' : 'Harvoin', 'Travel_Frequently' : 'Usein'})
df.head()

,Ikä,Poistuma,Työmatkat,Palkka,Osasto,Työmatkan pituus,Koulutus,Tiedekunta,Työntekijöiden lkm,Työntekijänumero,...,Tyytyväisyys,Työtunnit,Osakeoptiotaso,Työvuodet,Viime vuoden koulutukset,Työn ja huvin tasapaino,Palvelusvuodet,Aika nykyisessä roolissa,Vuodet ylennyksestä,Aika nykyisen esimiehen kanssa
0,41,Kyllä,Harvoin,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,Ei,Usein,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Kyllä,Harvoin,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,Ei,Usein,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,Ei,Harvoin,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [32]:
df['Tiedekunta'] = df['Tiedekunta'].replace({'Life Sciences' : 'Biotieteet', 'Other' : 'Muu','Medical':'Lääketiede'})
df['Osasto'] = df['Osasto'].replace({'Sales':'Myynti','Research & Development':'Tutkimus ja kehittäminen'})
df.head()

,Ikä,Poistuma,Työmatkat,Palkka,Osasto,Työmatkan pituus,Koulutus,Tiedekunta,Työntekijöiden lkm,Työntekijänumero,...,Tyytyväisyys,Työtunnit,Osakeoptiotaso,Työvuodet,Viime vuoden koulutukset,Työn ja huvin tasapaino,Palvelusvuodet,Aika nykyisessä roolissa,Vuodet ylennyksestä,Aika nykyisen esimiehen kanssa
0,41,Kyllä,Harvoin,1102,Myynti,1,2,Biotieteet,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,Ei,Usein,279,Tutkimus ja kehittäminen,8,1,Biotieteet,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Kyllä,Harvoin,1373,Tutkimus ja kehittäminen,2,2,Muu,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,Ei,Usein,1392,Tutkimus ja kehittäminen,3,4,Biotieteet,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,Ei,Harvoin,591,Tutkimus ja kehittäminen,2,1,Lääketiede,1,7,...,4,80,1,6,3,3,2,2,2,2